@import "../_variables.scss";
@import "../_fonts.scss";
@import "../_common-styles.scss";

//*Footer
//TODO: Mobile
.footer {
	&-container {
		@include container;
		background-color: $product-color;
	}
	&-content {
		@include content;
		flex-direction: column;
		&-columns {
			display:flex;
			flex-direction: row;
		}
		&-column {
			color: #ffffff;
			flex: 1;
			margin: 0 10px;
			h4 {
				color: #ffffff;
				font-size: 18px;
			}
			p {
				color: #ffffff;
				font-size: 14px;
			}
		}
		&-logo {
			border-top: 1px dashed white;
			margin-top: 10px;
			padding: 20px 0 20px 0;
			text-align: end;
		}
	}
}

@media (max-width:768px){
	.footer {
		&-content{
			flex-direction: column;
			&-column {
				p{
					line-height: 1;
				}
			}
		}
	}
}