@import "../_variables.scss";
@import "../_fonts.scss";
@import "../_common-styles.scss";

//*Partners
.partners {
	&-container {
		@include container;
	}
	&-content {
		@include content;
		display: flex;
		flex-direction: column;
		&-upper {
			width: 50%;
			h4 {
				font-weight: 100;
			}
		}
		&-lower {
			padding-top: 50px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&-row1,
			&-row2,
			&-row3 {
				width: 33%;
				padding-right: 100px;
				p {
					font-weight: 100;
				}
				.row-inside {
					cursor: pointer;
					transition: border-bottom 0.5s ease, margin-top 0.5s ease;
					&:hover {
						margin-top: -10px;
						border-bottom: 2px solid gray;
					}
				}
			}
		}
	}
}
@media (max-width: 900px) {
	.partners {
		&-content{
			&-lower{
				&-row1,&-row2,&-row3{
					padding: 0;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.partners {
		&-content {
			flex-direction: column;
			&-upper {
				width: 100%;
				h4 {
					font-weight: 100;
				}
			}
			&-lower {
				padding-top: 50px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				&-row1,
				&-row2,
				&-row3 {
					padding-right: 0;
					width: 100%;
					p {
						font-weight: 100;
					}
					.row-inside {
					cursor: pointer;
					transition: padding-left 0.5s ease,margin-right 0.5s ease;
					&:hover {
						margin-top:0;
						border-bottom:0;
						padding-left: 10px;
						margin-right: -10px;
					}
				}
				}
			}
		}
	}
}

