@import "../_variables.scss";
@import "../_fonts.scss";
@import "../_common-styles.scss";

//*Room booking
//TODO: Fix mobile
.room-booking {
	&-container {
		@include container;
	}
	&-content {
		@include content;
	}
	&-row1 {
		width: 40%;
	}

	&-row2 {
		width: 40%;
	}

	&-row3 {
		width: 20%;
	}
}

//*Room booking mobile
//TODO: Fix order of things
@media (max-width: 768px) {
	.room-booking {
		&-content {
			display: flex;
			flex-direction: column;
		}

		&-row1 {
			width: 100%;
		}
		&-row2 {
			width: 100%;
			display: none;
		}
		&-row3 {
			width: 120%;
			height: auto;
			background-image: url(/assets/Space_Gray.png);
			background-size: contain;
			background-repeat: no-repeat;
			margin-left: -80px;
			height: 0;
			padding-top: 66.64%;
			position: relative; /* (img-height / img-width * container-width) */
			/* (853 / 1280 * 100) */
			&-text {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 40%;
				right: 0;
			}
		}
	}
}
