@import "../_variables.scss";
@import "../_fonts.scss";
@import "../_common-styles.scss";

//*Shop
.shop {
	&-container {
		@include container;
		background-color: #F7F7F7;
	}
	&-content {
		@include content;
		padding-bottom: 100px;
		display: flex;
		flex-direction: row;
		&-left {
			padding-right: 200px;
			width: 33%;
			h1 {
				font-size: 48px;
			}
			button {
				@include button;
			}
		}
		&-right {
			img {
				height: 100%;
			}
		}
	}
}