@import "../_variables.scss";
@import "../_fonts.scss";
@import "../_common-styles.scss";

//*Slider
//TODO: Make it work desktop + mobile
.slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	width: 100%;
}
.swiper-slide {
	background-color: #fff; /* Background color for each slide */
	padding: 20px;
	border: 1px solid #ddd; /* Border for each slide */
	border-radius: 8px; /* Rounded corners */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for each slide */
}

.slider {
	overflow: hidden;
	max-width: 100vw;

	display: flex;
	transition: transform 0.3s ease;
	flex-wrap: nowrap;
	transition: transform 0.3 ease;
	user-select: none;
	cursor: grab;

	&-card {
		background-color: white;
		padding: $spacing-unit-large;
		margin: $spacing-unit-small;
		display: flex;
		flex-direction: column;
		img {
			width: 205px;
			max-width: 100%;
			height: auto;
			margin-bottom: 10px;
			-webkit-user-drag: none;
		}
	}
	:hover {
		cursor: grabbing;
	}
}
