h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  line-height: 1.33;
}
@media (max-width: 768px) {
  h2,
  h3 {
    font-size: 36px;
  }
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  font-size: 19px;
  line-height: 1.37;
}

h4,
p {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 17px;
  line-height: 1.47;
}

h2 .accordion-text-active {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.big-headline-text,
.headline-text {
  font-size: 70px;
  line-height: 1.14;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.big-headline-text {
  color: #3126ff;
}

.description-text {
  color: #000000;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.33;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .big-headline-text,
  .headline-text {
    font-size: 48px;
  }
}
.hamburger-container {
  display: none;
}

@media (max-width: 901px) {
  .hamburger-container {
    position: fixed;
    z-index: 101;
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 10vh 0 0 0;
    box-sizing: border-box;
    text-align: center;
    display: block;
    padding: 0;
  }
  .hamburger-content {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between; /* Distribute content evenly, pushing left to the left and right to the right */
    align-items: center; /* Vertically center the content */
  }
}
@media (max-width: 901px) and (max-width: 1421px) {
  .hamburger-content {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 901px) {
  .hamburger-content-left {
    z-index: 999;
    padding: 30px;
  }
  .hamburger-content-left img {
    height: 40px;
  }
}
@media (max-width: 500px) {
  .hamburger-container {
    max-width: 100vw;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .hamburger-content {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.mobile-menu-container {
  display: none;
}

@media (max-width: 900px) {
  .mobile-menu-container {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height: 100vh;
    top: -115vh;
    transition: top 400ms ease-in-out 0s;
  }
  .mobile-menu-content {
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .mobile-menu-content-workplace, .mobile-menu-content-links, .mobile-menu-content-lang {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin-top: 30px;
  }
  .mobile-menu-content-workplace h1, .mobile-menu-content-links h1, .mobile-menu-content-lang h1 {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    padding: 0px;
    font-weight: 700;
  }
  .mobile-menu-content-workplace a, .mobile-menu-content-links a, .mobile-menu-content-lang a {
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding: 12px 0px;
    text-decoration: none;
  }
  .mobile-menu-content-links a {
    font-size: 14px;
  }
  .mobile-menu-content-lang-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile-menu-container.active {
    top: 0px;
  }
  .mobile-menu-buttons {
    display: inline-flex;
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 1000;
    width: 100%;
  }
  .mobile-menu-buttons a {
    height: 70px;
    font-size: 1.0625rem;
    font-family: Roboto;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    width: 50%;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .mobile-menu-buttons a div {
    margin: 0px;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .mobile-menu-container {
    max-width: 100vw;
    width: 100%;
  }
  .mobile-menu-content {
    overflow: scroll;
    display: block;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .mobile-menu-content-workplace, .mobile-menu-content-links, .mobile-menu-content-lang {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin-top: 30px;
  }
  .mobile-menu-content-workplace h1, .mobile-menu-content-links h1, .mobile-menu-content-lang h1 {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    padding: 0px;
    font-weight: 700;
  }
  .mobile-menu-content-workplace a, .mobile-menu-content-links a, .mobile-menu-content-lang a {
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding: 12px 0px;
    text-decoration: none;
  }
  .mobile-menu-content-links a {
    font-size: 14px;
  }
  .mobile-menu-content-lang-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .mobile-menu-container {
    overflow: auto;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
  }
  .mobile-menu-content {
    margin-top: 100px;
  }
  .mobile-menu-content-workplace, .mobile-menu-content-links, .mobile-menu-content-lang {
    padding: 0;
    display: block;
  }
  .mobile-menu-content-lang-wrapper {
    display: flex;
  }
}
.navbar-upper {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  height: 80px;
}
.navbar-upper-left {
  background-color: white;
  z-index: 1000;
  flex-grow: 1;
  position: fixed;
  margin-right: 1000px;
  display: flex;
  align-items: center;
  top: 0px;
  height: 70px;
  padding: 0;
}
.navbar-upper-left img {
  position: relative;
  width: 120px;
  margin-left: 60px;
  margin-top: auto;
  margin-bottom: auto;
}
.navbar-upper-center {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  background-color: white;
  height: 70px;
  z-index: 100;
  left: 0;
  right: 0;
}
.navbar-upper-center a {
  padding-right: 30px;
}
.navbar-upper-center-lang-container {
  position: absolute;
  height: 60px;
  font-family: "Roboto", sans-serif;
  display: flex;
  opacity: 0;
  top: 80px;
  background-color: white;
  flex-direction: row;
  z-index: 10000;
  transition: opacity 0.3s ease;
  user-select: none;
  text-align: center;
  line-height: 1;
}
.navbar-upper-center-lang-container.active {
  opacity: 1;
}
.navbar-upper-center-lang-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.navbar-upper-right {
  position: fixed;
  width: 140px;
  z-index: 1000;
  top: 0px;
  bottom: initial;
  display: flex;
  align-items: center;
  height: 70px;
  right: 0px;
}
.navbar-upper-right button {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  background-color: #3126ff;
  color: white;
  width: 200px;
  height: 65px;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
  width: 100%;
  height: 100%;
}
.navbar-upper-right button:hover {
  background-color: #5148f2;
  border-radius: 10px;
}
.navbar-upper-right button:hover {
  border-radius: 0px;
}
.navbar-lower-container {
  background-color: white;
  position: fixed;
  top: 70px;
  display: flex;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 70px;
  flex-direction: row;
  align-items: center;
  z-index: 99;
  transition: top 0.3s ease, bottom 0.3s ease, z-index 0.3s ease;
}
.navbar-lower-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-lower-content p {
  margin-right: 20px;
}
.navbar-lower-content a {
  background-position: -40px 100%;
  margin-right: 20px;
  text-decoration: none;
  color: #000000;
  transition: padding 0.3s ease, font-weight 0.3s, background-position 0.3s;
}
.navbar-lower-content a.active {
  padding-bottom: 3px;
  font-weight: bold;
  background-image: linear-gradient(to left, transparent 50%, #01ffcb 50%);
  background-position: 0 100%;
  background-size: 40px 3px;
  background-repeat: no-repeat;
}

@media (min-width: 900px) and (max-width: 1766px) {
  .navbar-lower-content {
    padding-left: 200px;
  }
}
@media (max-width: 900px) {
  .navbar-upper, .navbar-lower-container {
    display: none;
  }
}
.dropdownarrow {
  border-style: solid;
  border-color: black;
  border-image: initial;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  margin-right: 30px;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  margin-bottom: 4px;
  user-select: none;
  padding: 0;
}

.accordion-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.accordion-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-direction: column;
}
@media (max-width: 1421px) {
  .accordion-content {
    max-width: calc(100% - 50px);
  }
}
.accordion-item {
  width: 100%;
  padding: 2px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
}
.accordion-item-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.list-item-title {
  padding: 20px 0 20px 0;
  margin: 0;
  user-select: none;
  transition: font-size 0.7s ease, color 0.7s ease;
}
.list-item-title.active {
  font-size: 32px;
  color: #3126ff;
}
.list-item-title-arrow {
  width: 8px;
  height: 8px;
  display: block;
  border-style: solid;
  border-color: black;
  border-image: initial;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  margin-right: 30px;
  position: relative;
  top: 24px;
  transition: transform 0.7s ease, width 0.7s ease, height 0.7s ease, top 0.7s ease;
}
.list-item-title-arrow.active {
  top: 35px;
  width: 16px;
  height: 16px;
  transform: rotate(135deg);
}
.list-item-description {
  font-size: 0px;
  height: 0;
  overflow: hidden;
  transition: font-size 0.7s ease, opacity 0.7s ease, transform 0.7s ease, padding 0.7s ease;
  transform-origin: top center;
  opacity: 0;
}
.list-item-description.active {
  padding: 5px 0 20px 0;
  height: auto;
  font-size: 16px;
  opacity: 1;
  transform: scaleY(1);
}

.contact-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.contact-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1421px) {
  .contact-content {
    max-width: calc(100% - 50px);
  }
}
.contact-content h4 {
  margin-right: 20px;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}

#contact-test-active {
  font-weight: bold;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 50px 3px;
  background-image: linear-gradient(to left, transparent 50%, #01ffcb 50%);
}

.download-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.download-content {
  background-color: #f7f7f7;
  max-width: 1366px;
  width: 100%;
  height: 60px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.download-content button {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  background-color: #3126ff;
  color: white;
  width: 200px;
  height: 65px;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
  height: 100%;
}
.download-content button:hover {
  background-color: #5148f2;
  border-radius: 10px;
}
.download-content-wrapper {
  display: inherit;
  flex-direction: inherit;
}
.download-content-wrapper p {
  border-right: 1px solid rgba(0, 0, 0, 0.1); /* Barely visible border color */
  padding-right: 20px; /* Adjust the spacing as needed */
}
.download-content-wrapper .last {
  border-right: 0px;
}
.download-content-wrapper-mobile {
  padding-left: 20px;
  display: inherit;
  flex-direction: inherit;
  gap: 20px;
}

@media (max-width: 1000px) {
  .download-content {
    padding: 0;
    height: auto;
    padding: 40px 0 40px 0;
    flex-direction: column;
  }
  .download-content-wrapper-mobile {
    flex-direction: row;
    justify-content: center;
  }
  .download-content .first {
    border: 0px;
  }
  .download-content .downloadbutton {
    height: 60px;
  }
}
@media (max-width: 500px) {
  .download-content .first {
    text-align: center;
    max-width: 50vw;
    width: 50vw;
  }
}
.faq-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.faq-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 auto;
}
@media (max-width: 1421px) {
  .faq-content {
    max-width: calc(100% - 50px);
  }
}
.faq-content-left, .faq-content-center, .faq-content-right {
  width: 33%;
  padding-right: 100px;
}
.faq-content-left h1, .faq-content-center h1, .faq-content-right h1 {
  font-size: 48px;
}
.faq-content-left h4, .faq-content-center h4, .faq-content-right h4 {
  font-weight: 400;
}

@media (max-width: 1200px) {
  .faq-content {
    flex-direction: column;
  }
  .faq-content-left, .faq-content-center, .faq-content-right {
    width: 100%;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .faq-content {
    flex-direction: column;
  }
  .faq-content-left, .faq-content-center, .faq-content-right {
    margin-top: -24px;
    width: 100%;
    padding-right: 0;
  }
  .faq-content-left h4, .faq-content-center h4, .faq-content-right h4 {
    font-weight: 400;
    font-size: 16px;
  }
  .faq-content-left p, .faq-content-center p, .faq-content-right p {
    font-weight: 100;
    font-size: 16px;
  }
}
.footer-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #3126ff;
}
.footer-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-direction: column;
}
@media (max-width: 1421px) {
  .footer-content {
    max-width: calc(100% - 50px);
  }
}
.footer-content-columns {
  display: flex;
  flex-direction: row;
}
.footer-content-column {
  color: #ffffff;
  flex: 1;
  margin: 0 10px;
}
.footer-content-column h4 {
  color: #ffffff;
  font-size: 18px;
}
.footer-content-column p {
  color: #ffffff;
  font-size: 14px;
}
.footer-content-logo {
  border-top: 1px dashed white;
  margin-top: 10px;
  padding: 20px 0 20px 0;
  text-align: end;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-content-column p {
    line-height: 1;
  }
}
.form-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.form-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  flex-direction: column;
}
@media (max-width: 1421px) {
  .form-content {
    max-width: calc(100% - 50px);
  }
}
.form-content-top {
  display: flex;
  flex-direction: row;
}
.form-content-top-left, .form-content-top-right {
  width: 100%;
}
.form-content-bottom {
  width: 100%;
}
.form-content-bottom textarea {
  min-height: 38px;
  height: 38px;
  resize: none;
  overflow: hidden;
}
.form-content-button {
  text-align: center;
}
.form-content-button button {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  background-color: #3126ff;
  color: white;
  width: 200px;
  height: 65px;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
}
.form-content-button button:hover {
  background-color: #5148f2;
  border-radius: 10px;
}
.form-div {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  padding: 20px;
}
.form-label {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 13px;
  padding-bottom: 10px;
}
.form-input {
  font-size: 1.875rem;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-weight: 400;
  z-index: 2;
  border: 0px;
  position: relative;
  resize: none;
  height: 38px;
  line-height: 38px;
  overflow: hidden;
  border: none; /* Remove any existing borders */
  background-image: linear-gradient(to left, transparent 75%, #000 100%);
  background-position: 0 100%;
  background-size: 5px 1px; /* Increased the spacing */
  background-repeat: repeat-x;
  outline: none !important;
}

@media (max-width: 768px) {
  .form-container {
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 10vh 0 0 0;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 50px;
  }
  .form-content {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  .form-content form {
    width: 100%;
  }
}
@media (max-width: 768px) and (max-width: 1421px) {
  .form-content {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 768px) {
  .form-content-top {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form-content .form-div {
    padding: 20px 0 20px 0;
  }
  .form-content-button {
    text-align: center;
  }
  .form-content-button button {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #3126ff;
    color: white;
    width: 200px;
    height: 65px;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    transition: border-radius 0.3s ease, background-color 0.3s ease;
  }
  .form-content-button button:hover {
    background-color: #5148f2;
    border-radius: 10px;
  }
}
.image-slider-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.image-slider-title {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1421px) {
  .image-slider-title {
    max-width: calc(100% - 50px);
  }
}
.image-slider-content {
  max-width: 100vw;
  overflow: hidden;
}
.image-slider-content-image {
  width: 100%;
  height: 510px;
  background-image: url(/assets/Layer_78.png);
  background-size: cover;
  background-position: center center;
}
.image-slider-content-phone {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 0px;
}
.image-slider-content-phone-left {
  width: 50%;
}
.image-slider-content-phone-right {
  margin: 0 auto 0 auto;
  width: 50%;
}
.image-slider-content-phone-right-image {
  position: relative;
  top: -480px;
}
.image-slider-content-phone-right-image img {
  height: 600px;
}
.image-slider-content-description {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  height: 350px;
}
@media (max-width: 1421px) {
  .image-slider-content-description {
    max-width: calc(100% - 50px);
  }
}
.image-slider-content-description-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  background-color: #3126ff;
}
.image-slider-content-description-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
}
.image-slider-content-description-upper-left {
  width: 50%;
  padding-right: 60px;
  margin-top: 20px;
}
.image-slider-content-description-upper-left h1 {
  color: white;
  font-size: 48px;
  margin: 0;
}
.image-slider-content-description-upper-right {
  padding-top: 50px;
  width: 50%;
  padding-right: 60px;
}
.image-slider-content-description-upper-right p {
  color: white;
  font-size: 16px;
  font-weight: 100;
}
.image-slider-content-description-lower {
  min-height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  height: auto;
}
.image-slider-content-description-lower-text {
  background-image: linear-gradient(to left, transparent 75%, white 100%);
  background-position: 100% 0;
  background-size: 5px 1px; /* Increased the spacing */
  background-repeat: repeat-x;
  padding: 5px 70px 5px 70px;
}
.image-slider-content-description-lower-text p {
  color: white;
}
.image-slider-buttons {
  position: relative;
  transform: translateY(-50%);
  width: 100%;
  top: 470px;
  z-index: 9; /* Adjust the z-index as needed */
}
.image-slider-buttons-left, .image-slider-buttons-right {
  width: 80px;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  transition: background-color 0.3s ease;
}
.image-slider-buttons-left {
  left: 0px;
}
.image-slider-buttons-right {
  right: 0px;
}
.image-slider-buttons-arrow {
  width: 12px;
  height: 12px;
  display: block;
  border-style: solid;
  border-color: black;
  border-image: initial;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  position: relative;
  transition: transform 0.7s ease, width 0.7s ease, height 0.7s ease, top 0.7s ease;
}
.image-slider-buttons-arrow.left {
  transform: rotate(135deg);
}
.image-slider-buttons-arrow.right {
  transform: rotate(-45deg);
}

/* Add fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Apply the fade-out animation to an element */
.fade-out {
  animation-name: fadeOut;
  animation-duration: 0.3s; /* Adjust the duration as needed (seconds) */
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@media (max-width: 768px) {
  .image-slider-container {
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 10vh 0 0 0;
    box-sizing: border-box;
    text-align: center;
  }
  .image-slider-title {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 768px) and (max-width: 1421px) {
  .image-slider-title {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 768px) {
  .image-slider-content {
    max-width: 100vw;
    overflow: hidden;
  }
  .image-slider-content-description {
    height: auto;
  }
  .image-slider-content-description-upper {
    flex-direction: column;
  }
  .image-slider-content-description-upper-left, .image-slider-content-description-upper-right {
    width: 100%;
  }
  .image-slider-content-description-upper-right {
    padding-bottom: 20px;
  }
  .image-slider-content-description-lower-text {
    padding: 0 5vw 0 5vw;
  }
  .image-slider-content-image {
    width: 100%;
    height: 510px;
    background-size: cover;
    background-position: center center;
  }
  .image-slider-content-phone-left {
    width: 0%;
  }
  .image-slider-content-phone-right {
    width: 100%;
  }
  .image-slider-content-phone-right-image {
    text-align: center;
  }
  .image-slider-content-phone-right-image img {
    margin-left: -65px;
  }
  .image-slider-buttons {
    top: 480px;
  }
  .image-slider-buttons-left, .image-slider-buttons-right {
    height: 60px;
    width: 60px;
  }
  .image-slider-buttons-arrow {
    width: 8px;
    height: 8px;
  }
}
.title {
  grid-area: title;
}
.title .big-headline-text {
  font-weight: bold;
}

.description {
  grid-area: description;
}

.buttons {
  grid-area: buttons;
}

.overview-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.overview-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "title bigimage" "description bigimage" "buttons bigimage";
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media (max-width: 1421px) {
  .overview-content {
    max-width: calc(100% - 50px);
  }
}
.overview-content-image {
  width: 50vw;
  grid-area: bigimage;
}
.overview-content-image-desks {
  padding-top: 100px;
}
.overview-content-image-desks #desks {
  height: 500px;
  position: absolute;
}
.overview-content-image-hand {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.overview-content-image-hand #hand {
  overflow: hidden;
  margin-left: 140px;
  height: 600px;
  top: 50px;
  width: auto;
  position: absolute;
  transition: top 0.3s ease;
}
.overview-content .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.overview-content .buttons-left {
  height: 70px;
  width: 200px;
  background-image: url(/assets/apple2.png);
  background-repeat: no-repeat;
}
.overview-content .buttons-right {
  height: 70px;
  width: 200px;
  background-image: url(/assets/google2.png);
}
.overview-content .buttons-left, .overview-content .buttons-right {
  cursor: pointer;
  transition: border-radius 0.3s ease;
  border: 0px;
}
.overview-content .buttons-left:hover, .overview-content .buttons-right:hover {
  border-radius: 15px;
}

@media (max-width: 1124px) {
  .overview-container {
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 10vh 0 0 0;
    box-sizing: border-box;
    text-align: center;
  }
  .overview-content {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1124px) and (max-width: 1421px) {
  .overview-content {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 1124px) {
  .overview-content-image {
    height: 360px;
    display: block;
  }
  .overview-content-image-hand {
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .overview-content-image-hand #hand {
    height: 600px;
    top: -75px;
    width: auto;
    position: absolute;
    left: calc(50% - 222.5px);
    transition: top 0.3s ease;
    z-index: 70;
    transform: scale(0.7);
    margin-left: 0;
  }
  .overview-content-image-desks {
    position: absolute;
    height: 360px;
    width: 90%;
    left: 5%;
    overflow: hidden;
    left: 0;
    padding-top: 0;
  }
  .overview-content-image-desks #desks {
    transform: scale(1);
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .overview-container {
    padding-top: 100px;
  }
  .overview-content {
    padding: 0 20px 0 20px;
  }
  .overview-content .buttons button {
    max-width: 200px;
    max-height: 70px;
    width: 40vw;
    height: 14vw;
    background-size: cover;
  }
}
.overview-descriptions-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.overview-descriptions-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 0;
}
@media (max-width: 1421px) {
  .overview-descriptions-content {
    max-width: calc(100% - 50px);
  }
}
.overview-descriptions-content-card {
  max-width: 25%;
  padding-right: 8%;
}

@media (max-width: 1366px) {
  .overview-descriptions-content-card {
    max-width: 25%;
    padding-right: 8%;
  }
}
@media (max-width: 1200px) {
  .overview-descriptions-content-card {
    max-width: 45%;
    padding-right: 5%;
  }
}
@media (max-width: 768px) {
  .overview-descriptions-content-card {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    transform: 0;
  }
}
.partners-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.partners-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1421px) {
  .partners-content {
    max-width: calc(100% - 50px);
  }
}
.partners-content-upper {
  width: 50%;
}
.partners-content-upper h4 {
  font-weight: 100;
}
.partners-content-lower {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.partners-content-lower-row1, .partners-content-lower-row2, .partners-content-lower-row3 {
  width: 33%;
  padding-right: 100px;
}
.partners-content-lower-row1 p, .partners-content-lower-row2 p, .partners-content-lower-row3 p {
  font-weight: 100;
}
.partners-content-lower-row1 .row-inside, .partners-content-lower-row2 .row-inside, .partners-content-lower-row3 .row-inside {
  cursor: pointer;
  transition: border-bottom 0.5s ease, margin-top 0.5s ease;
}
.partners-content-lower-row1 .row-inside:hover, .partners-content-lower-row2 .row-inside:hover, .partners-content-lower-row3 .row-inside:hover {
  margin-top: -10px;
  border-bottom: 2px solid gray;
}

@media (max-width: 900px) {
  .partners-content-lower-row1, .partners-content-lower-row2, .partners-content-lower-row3 {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .partners-content {
    flex-direction: column;
  }
  .partners-content-upper {
    width: 100%;
  }
  .partners-content-upper h4 {
    font-weight: 100;
  }
  .partners-content-lower {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .partners-content-lower-row1, .partners-content-lower-row2, .partners-content-lower-row3 {
    padding-right: 0;
    width: 100%;
  }
  .partners-content-lower-row1 p, .partners-content-lower-row2 p, .partners-content-lower-row3 p {
    font-weight: 100;
  }
  .partners-content-lower-row1 .row-inside, .partners-content-lower-row2 .row-inside, .partners-content-lower-row3 .row-inside {
    cursor: pointer;
    transition: padding-left 0.5s ease, margin-right 0.5s ease;
  }
  .partners-content-lower-row1 .row-inside:hover, .partners-content-lower-row2 .row-inside:hover, .partners-content-lower-row3 .row-inside:hover {
    margin-top: 0;
    border-bottom: 0;
    padding-left: 10px;
    margin-right: -10px;
  }
}
.room-booking-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.room-booking-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1421px) {
  .room-booking-content {
    max-width: calc(100% - 50px);
  }
}
.room-booking-row1, .room-booking-row2 {
  width: 40%;
}
.room-booking-row3 {
  width: 20%;
}

@media (max-width: 768px) {
  .room-booking-content {
    display: flex;
    flex-direction: column;
  }
  .room-booking-row1 {
    width: 100%;
  }
  .room-booking-row2 {
    width: 100%;
    display: none;
  }
  .room-booking-row3 {
    width: 120%;
    height: auto;
    background-image: url(/assets/Space_Gray.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -80px;
    height: 0;
    padding-top: 66.64%;
    position: relative;
  }
  .room-booking-row3-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;
  }
}
.room-booking-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.room-booking-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1421px) {
  .room-booking-content {
    max-width: calc(100% - 50px);
  }
}
.room-booking-row1, .room-booking-row2 {
  width: 40%;
}
.room-booking-row3 {
  width: 20%;
}

@media (max-width: 768px) {
  .room-booking-content {
    display: flex;
    flex-direction: column;
  }
  .room-booking-row1 {
    width: 100%;
  }
  .room-booking-row2 {
    width: 100%;
    display: none;
  }
  .room-booking-row3 {
    width: 120%;
    height: auto;
    background-image: url(/assets/Space_Gray.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -80px;
    height: 0;
    padding-top: 66.64%;
    position: relative;
  }
  .room-booking-row3-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;
  }
}
.router-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
.router-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1421px) {
  .router-content {
    max-width: calc(100% - 50px);
  }
}
.router-content-left {
  width: 55%;
}
.router-content-left h2 {
  font-weight: 300;
}
.router-content-right {
  width: 45%;
}
.router-content-right img {
  height: 600px;
}

@media (max-width: 900px) {
  .router-container {
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 10vh 0 0 0;
    box-sizing: border-box;
    text-align: center;
  }
  .router-content {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 900px) and (max-width: 1421px) {
  .router-content {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 900px) {
  .router-content-left {
    width: 100%;
  }
  .router-content-right {
    width: 100%;
  }
  .router-content-right img {
    width: 100%;
    height: auto;
  }
}
.shop-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  background-color: #f7f7f7;
}
.shop-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1421px) {
  .shop-content {
    max-width: calc(100% - 50px);
  }
}
.shop-content-left {
  padding-right: 200px;
  width: 30%;
}
.shop-content-left h1 {
  font-size: 48px;
}
.shop-content-left button {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  background-color: #3126ff;
  color: white;
  width: 200px;
  height: 65px;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
}
.shop-content-left button:hover {
  background-color: #5148f2;
  border-radius: 10px;
}
.shop-content-right img {
  height: 100%;
}
.shop-content-button-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .shop-content-left {
    padding-right: 100px;
  }
}
@media (max-width: 1000px) {
  .shop-container {
    padding-bottom: 40px;
  }
  .shop-content {
    flex-direction: column;
  }
  .shop-content-left {
    padding-right: 0;
    width: 100%;
  }
  .shop-content-left .desktop {
    display: none;
  }
  .shop-content-right img {
    width: 100%;
  }
  .shop-content-button-mobile {
    display: block;
    text-align: center;
    padding: 20px 0 20px 0;
  }
  .shop-content-button-mobile button {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #3126ff;
    color: white;
    width: 200px;
    height: 65px;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    transition: border-radius 0.3s ease, background-color 0.3s ease;
  }
  .shop-content-button-mobile button:hover {
    background-color: #5148f2;
    border-radius: 10px;
  }
}
.slider-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.slider-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1421px) {
  .slider-content {
    max-width: calc(100% - 50px);
  }
}
.slider-content-card {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 20px;
  width: 200px;
}
.slider-content-card img {
  margin: 0;
}

@media (max-width: 768px) {
  .slider-content-card img {
    max-width: 100px;
    height: auto;
  }
}
.slick-dots {
  width: calc(100% - 50px);
}

.specs-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
.specs-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1421px) {
  .specs-content {
    max-width: calc(100% - 50px);
  }
}
.specs-content-upper {
  display: flex;
  flex-direction: row;
}
.specs-content-upper-text {
  max-width: 55%;
}
.specs-content-upper-text h2 {
  font-weight: 100;
}
.specs-content-upper-image {
  max-width: 45%;
}
.specs-content-upper-image img {
  width: 50vw;
}
.specs-content-lower {
  display: flex;
  flex-direction: row;
}
.specs-content-lower-left, .specs-content-lower-right {
  width: 50%;
  padding-right: 100px;
}
.specs-content-lower-left span, .specs-content-lower-right span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@media (max-width: 768px) {
  .specs-container {
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 10vh 0 0 0;
    box-sizing: border-box;
    text-align: center;
    padding-top: 200px;
  }
  .specs-content {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) and (max-width: 1421px) {
  .specs-content {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 768px) {
  .specs-content-upper {
    flex-direction: column;
  }
  .specs-content-upper-text {
    max-width: 100%;
  }
  .specs-content-upper-text h2 {
    font-weight: 100;
  }
  .specs-content-upper-image {
    max-width: fit-content;
    overflow: hidden;
  }
  .specs-content-upper-image img {
    width: 100vw;
    margin-left: -20px;
  }
  .specs-content-lower {
    display: flex;
    flex-direction: column;
  }
  .specs-content-lower-left, .specs-content-lower-right {
    width: 100%;
    padding-right: 0;
  }
  .specs-content-lower-left span, .specs-content-lower-right span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }
}
.sreq-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
}
.sreq-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  padding-bottom: 60px;
}
@media (max-width: 1421px) {
  .sreq-content {
    max-width: calc(100% - 50px);
  }
}
.sreq-content-left, .sreq-content-right {
  flex-basis: 50%;
}

@media (max-width: 768px) {
  .sreq-container {
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 10vh 0 0 0;
    box-sizing: border-box;
    text-align: center;
  }
  .sreq-content {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    gap: 10%;
  }
}
@media (max-width: 768px) and (max-width: 1421px) {
  .sreq-content {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 768px) {
  .sreq-content-left, .sreq-content-right {
    max-width: 100%;
    width: 100%;
  }
}
.underrouter-container {
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 10vh 0 0 0;
  box-sizing: border-box;
  text-align: center;
  padding-top: 0px;
}
.underrouter-content {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1421px) {
  .underrouter-content {
    max-width: calc(100% - 50px);
  }
}
.underrouter-content-right, .underrouter-content-left {
  padding-right: 150px;
  width: 50%;
}

@media (max-width: 900px) {
  .underrouter-content {
    flex-direction: column;
  }
  .underrouter-content-left, .underrouter-content-right {
    width: 100%;
    padding-right: 0;
  }
}
* {
  text-align: left;
}

body {
  background-color: white;
  padding: 0 !important;
  margin: 0 !important;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=styles.css.map */
