/* Main variables file */


$background-color: white;
$product-color: #3126ff;
$text-color: #000000;
$secondary-color: #01ffcb;

$spacing-unit-small: 10px;
$spacing-unit-medium: 20px;
$spacing-unit-base: 30px;
$spacing-unit-large: 40px;
$spacing-unit-x-large: 60px;
$spacing-unit-xx-large: 90px;

$content-width: 1366px;
$left-padding: 15vw;


