// _variables.scss (Separate variables into a dedicated file)
$background-color: #f7f7f7;
$product-color: #3126ff;
$text-color: #000000;
$secondary-color: #01ffcb;

$px-small: 10px;
$psmall: 20px;
$pbase: 30px;
$pmedium: 40px;
$plarge: 60px;
$px-large: 90px;
$pxx-large: 120px;

$content-width: 1366px;

// styles.scss

body {
	background-color: $background-color;
	padding: 0 !important;
	margin: 0 !important;
	top: 0;
	left: 0;
}

h2,
h3 {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	color: $text-color;
	font-size: 30px;
	line-height: 1.33; // Changed from 40px
}

h3 {
	font-size: 19px;
	line-height: 1.37; // Changed from 26px
}

h4,
p {
	font-family: "Roboto", sans-serif;
	color: $text-color;
	font-size: 17px;
	line-height: 1.47; // Changed from 25px
}

.big-headline-text,
.headline-text {
	color: $product-color;
	font-size: 70px;
	line-height: 1.14; // Changed from 80px
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}

.description-text {
	color: $text-color;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.33; // Changed from 40px
	font-family: "Roboto", sans-serif;
}

.lang-dropdown {
	display: block;
}

/* Style the navbar */
.navbar {
	&-lang-container {
		position: fixed;
		height: 80px;
		font-family: "Roboto", sans-serif;
		display: flex;
		width: 100%;
		background-color: white;
		flex-direction: row;
		top: -80px;
		z-index: 10000;
		transition: opacity 0.5s ease; /* Add transitions for smooth animation */
	}
	
	&-lang {
		display: flex;
		flex-direction: row;
		gap: 20px;
		justify-content: center;
	}
	&-upper {
		font-family: "Roboto", sans-serif;
		display: flex;
		flex-direction: row;
		height: 80px;

		&-left {
			background-color: white;
			z-index: 1000;
			flex-grow: 1;
			position: fixed;
			margin-right: 1000px;
			display: flex;
			align-items: center;
			top: 0px;
			height: 70px;
			padding: 0;

			img {
				position: relative;
				width: 120px;
				margin-left: 60px;
				margin-top: auto;
				margin-bottom: auto;
			}
		}

		&-center {
			position: fixed;
			display: flex;
			width: 100%;
			gap: 40px;
			justify-content: flex-end; /* Align items to the end (right) */
			padding-right: 180px;
			align-items: center;
			flex-direction: row;
			background-color: white;
			height: 70px;
			z-index: 100;
		}

		&-right {
			position: fixed;
			z-index: 1000;
			background-color: $product-color;
			color: white;
			top: 0px;
			bottom: initial;
			width: auto;
			display: flex;
			align-items: center;
			padding-left: 30px;
			padding-right: 30px;
			height: 70px;
			right: 0px;
		}
	}

	&-lower {
		&-container {
			background-color: white;
			position: fixed;
			top: 70px;
			display: flex;
			font-size: 17px;
			font-family: "Roboto", sans-serif;
			width: 100%;
			padding-left: 350px;
			height: 70px;
			flex-direction: row;
			align-items: center;
			z-index: 99;
			transition: top 0.3s ease, bottom 0.3s ease, z-index ease;
		}
		&-content {
			display: flex;
			flex-direction: row;
			align-items: center;
			p {
				margin-right: 20px;
			}
			a {
				background-position: 100px 100%;
				margin-right: 20px;
				text-decoration: none;
				color: #000000;
				transition: font-weight 0.3s, background-position 0.3s;
			}
			a:active {
				font-weight: bold;
				background-image: linear-gradient(
					to left,
					transparent 50%,
					#01ffcb 50%
				);
				background-position: 0 100%;
				background-size: 10px 3px; /* Adjust the border thickness as needed */
				background-repeat: no-repeat;
			}
		}
	}
}
.dropdownarrow {
	border-style: solid;
	border-color: black;
	border-image: initial;
	border-width: 0px 1px 1px 0px;
	transform: rotate(45deg);
	margin-right: 30px;
	display: inline-block;
	width: calc(8px);
	height: calc(8px);
	margin-left: 10px;
	margin-bottom: 4px;
	user-select: none;
}
.overview {
	&-descriptions {
		display: flex;
		flex-direction: row;
		width: 1368px;
		justify-content: space-between; // Add this to evenly space the cards

		&-card {
			text-align: left;
			padding-right: 100px; // Add margin between cards
			width: 456px;
		}
	}
}

.overview-head {
	text-align: left;
	display: flex;
	flex-direction: row;
	height: auto;

	@media (max-width: 768px) {
		flex-direction: column; // Change to column layout on smaller screens
	}

	&-left {
		min-height: 716px;
		flex: 1; // Use flex-grow to allow left to shrink
		max-width: 50%; // Limit max width to 50%
	}

	&-left-bottomimages {
		display: flex;
		flex-direction: row;

		img {
			height: $px-large;
			width: auto;
		}
	}

	&-right {
		position: relative;
		min-height: 100%;
		flex: 1; // Use flex-grow to allow right to shrink
		max-width: 50%; // Limit max width to 50%

		#desks {
			height: 500px;
			position: absolute;
		}

		#hands {
			margin-left: 100px;
			height: 700px;
			width: auto;
			position: absolute;
			overflow: hidden;
		}
	}
}

.container {
	margin: 0;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

.content {
	max-width: $content-width;
	width: $content-width;
	margin: 0 auto 0 auto;
	display: flex;
}

/* Apply smaller padding as the viewport width decreases */
@media (max-width: 768px) {
	.content {
		padding: 0 5%;
	}
}

//Footer
.footer-container {
	position: relative;
	margin: 0;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	background-color: $product-color;
}

.footer {
	max-width: $content-width;
	width: $content-width;
	margin: 0 auto 0 auto;
	display: flex;
	padding: 20px;
	justify-content: space-between;
}

.column {
	text-align: left;
	color: #ffffff;
	flex: 1;
	margin: 0 10px; /* Add spacing between columns */
}

.column h4 {
	color: #ffffff;
	font-size: 18px;
}

.column p {
	color: #ffffff;
	font-size: 14px;
}

//Slider
.slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider {
	overflow: hidden;
	max-width: 1366px;
	display: flex;
	flex-wrap: nowrap;
	transition: transform ease;
	user-select: none; /* Disable text selection */
	-webkit-user-select: none; /* For older browsers */
	-ms-user-select: none; /* For Microsoft Edge */
	cursor: grab; /* Change cursor when dragging */
}

.slider-card {
	background-color: white;
	padding: 60px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

/* Add these styles to disable image drag and text selection within slider content */
.slider img {
	width: 205px;
	-webkit-user-drag: none;
	pointer-events: none;
}

/* Add these styles to change cursor when hovering over slider content */
.slider:hover {
	cursor: grabbing;
}

.form-container {
	display: flex;
	justify-content: space-between;
}

.form-column {
	flex: 1;
	margin-right: 20px;
}

.form-input {
	width: 100%;
	margin-bottom: 10px;
	padding: 8px;
}

.form-label {
	font-weight: bold;
}

.form-button {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
}
